.task {
    background-color: rgb(1, 40, 57);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 40px;
}

.task-content {
    display: flex;
    flex-direction: column;
    width: 450px;
    overflow-wrap: break-word;
}

.task-actions {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;
    justify-content: center;
}

.task-actions input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.task-actions input[type='checkbox']::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 15px;
    height: 6px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: scale(0) rotate(-45deg);
    transition: 0.3s;
}

.task-actions input[type='checkbox']:checked::before {
    transform: scale(1) rotate(-45deg);
}

.task-actions svg {
    cursor: pointer;
    color: #fff;
    width: 30px;
    height: 30px;
}

.task-actions svg:nth-child(2) {
    width: 35px;
    height: 35px;
    margin-bottom: 2px;
}

.completed {
    background-color: rgb(131, 0, 0);
    transition: 0.3s;
}

@media (max-width: 900px) {
    .task {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .task-content {
        width: 100%;
        margin-right: 30px;
        white-space: wrap;
        height: 100px;
        margin-bottom: 10px;
    }

    .task-content p {
        overflow: auto;
        margin-top: 8px;
    }

    .task-actions {
        width: 100px;
        gap: 20px;
    }

    .task-actions input[type='checkbox'] {
        width: 20px;
        height: 20px;
        padding: 10px;
    }

    .task-actions input[type='checkbox']::before {
        width: 10px;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        top: 3px;
        left: 3px;
    }
}