* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 57, 80);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

@media (max-width: 900px) {
    #root {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .container {
        width: 100%;
    }
}